/* File: css/style.css */

body {
    font-family: 'Cardo', 'New Times Roman';
    font-size: 18px;
    color: #BA6B1D;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #BA6B1D;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* Navbar */
.navbar {
    top: 0;
    padding: 7.5px 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    padding: 7.5px 20px;
    display: block;
    font-weight: 600;
    transition: 0.75s;
}

.navbar ul li a:hover{
    color: #BA6B1D;
}


/* Main */
.main {
    padding: 5px 20px;
}

.main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .main ul {
    display: flex;
    gap: 10px;
}

.main ul li a {
    padding: 5px 20px;
    display: block;
    font-weight: 600;
} */


/* Hero Section */
.hero {
    margin-bottom: 50px;
}


/* Utility Classes */
.container {
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Text Classes */
.text-xxl {
    font-size: 1.9rem;
}

.text-xl {
    font-size: 1.75rem;
}

.text-lg {
    font-size: 1.6rem;
}

.text-mid {
    font-size: 1.5rem;
    margin: -20px 0px 0px 0px;
}

.text-sm {
    font-size: 1.4rem;
}

.text-xs {
    font-size: 1.3rem;
}

.footer-text {
    font-size: 0.78rem;
}


/* List Styles */
.list-md {
    list-style-type: square;
    padding: 0px 15px;
    font-size: 1.3rems;
}

.list-sm {
    list-style-type: 1;
    padding: 0px 15px;
    font-size: 1.1rem;
}

/* Footer */
.footer .section {
    color: #BA6B1D;
    bottom: 0;
}

.footer .section p {
    font-size: 0.5rem;
    line-height: 1.2;
    font-weight: normal;
}

.footer .section a {
    color: #BA6B1D;
    text-decoration: underline;
}


/* Hamburger Button */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background-color: #BA6B1D;
    margin: 6px 0;
}


/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -600px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background-color: #ffffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu active{
    right: 0;
}

.mobile-menu ul{
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}